.news {
    display: flex;
    gap: 29px;
    justify-content: center;
    margin-top: 40px;



    .content {
        width: 370px;
        height: 420px;


        img {
            width: 370px;
            height: 210px;
        }


        .content-text {
            position: relative;
            bottom: 10px;
            width: 370px;
            height: 210px;
            box-sizing: border-box;
            /* #EDEDF0 */
            border-left: 1px solid rgb(237, 237, 240);
            border-right: 1px solid rgb(237, 237, 240);
            border-radius: 0px 0px 5px 5px;

            background: rgb(255, 255, 255);
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;


            h6 {
                color: rgb(150, 150, 150);
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
            }

            h5 {
                /* Montserrat semi 24 */
                color: rgb(41, 41, 41);
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: left;
            }


            h4 {
                color: rgb(41, 41, 41);
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }
}