.present {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    justify-content: center;
    margin-top: 30px;



    .content {
        width: 370px;
        height: 420px;


        img {
            width: 370px;
            height: 210px;
            object-fit: cover;
        }


        .content-text {
            position: relative;
            bottom: 10px;
            width: 370px;
            height: 210px;
            box-sizing: border-box;
            /* #EDEDF0 */
            border-left: 1px solid rgb(237, 237, 240);
            border-right: 1px solid rgb(237, 237, 240);
            border-radius: 0px 0px 5px 5px;

            background: rgb(255, 255, 255);
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;


            h6 {
                color: rgb(150, 150, 150);
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
            }

            h5 {
                /* Montserrat semi 24 */
                color: rgb(41, 41, 41);
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: left;
            }


            h4 {
                color: rgb(41, 41, 41);
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }
}

@media(max-width:820px) {
    .present {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .content {
            width: 140px;
            height: 270px;

            img {
                width: 140px;
                height: 101px;
                object-fit: cover;
            }

            .content-text {
                position: relative;
                bottom: 4px;

                width: 140px;
                height: 169px;
                padding: 10px;
                gap: 5px;

                h6 {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 12px;
                }

                h5 {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 15px;
                }

                h4 {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 12px;
                }
            }
        }
    }
}

@media(max-width:820px) {
    .hide-mobile {
        display: none;
    }
}