.content {
    width: 1440px;
    margin-top: 18px;

    .breadcrumb-link {
        text-decoration: none;
        color: inherit;
    }



    .delivery {
        /* bg */
        background: rgb(247, 247, 247);
        height: 650px;
        margin-top: 17px;


        h5 {
            padding-top: 41px;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            color: rgba(41, 41, 41, 0.46);

            span {
                color: rgb(78, 157, 211);
            }
        }




        .payment {
            justify-content: center;
            display: flex;
            padding-top: 47px;

            .im {
                padding-top: 140px;

                img {
                    width: 712px;
                    height: 405.76px;
                    object-fit: contain;
                }
            }


            .text {
                width: 470px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .div2 {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;


                    h3 {
                        color: rgb(41, 41, 41);
                        font-family: sans-serif;
                        font-size: 42px;
                        font-weight: 600;
                        line-height: 51px;
                        letter-spacing: 0%;

                    }


                    p {
                        color: rgb(41, 41, 41);
                        font-family: sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 130%;
                        letter-spacing: 0%;

                        h4 {
                            color: rgb(41, 41, 41);
                            font-family: sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 130%;
                            letter-spacing: 0%;

                        }

                    }
                }

                .div3 {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h4 {
                        /* Montserrat semi 24 */
                        color: rgb(41, 41, 41);
                        font-family: sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22px;
                        letter-spacing: 0%;

                    }

                    h2 {
                        color: rgb(41, 41, 41);
                        font-family: sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 130%;
                        letter-spacing: 0%;


                        p {
                            color: rgb(240, 95, 119);
                        }
                    }
                }
            }
        }



    }

    .delivery-adaptive {
        display: none;
    }


    .vector {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 85px;
        column-gap: 120px;

        .pickup {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 30px;


            h2 {
                /* Montserrat semi 24 */
                color: rgb(41, 41, 41);
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: left;
            }

            p {
                padding-top: 10px;
                color: rgb(41, 41, 41);
                font-family: sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        img {
            width: 321.02px;
            height: 370.09px;
        }
    }
}

@media (max-width: 820px) {

    .content {
      

      

        ul {
            display: none; // Мобилдикте жашыруу
        }

        div {
            display: flex;

            svg {
                display: none;
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
        }

        .delivery {
            display: none;
        }

        .delivery-adaptive {
            display: block;
            background: rgb(247, 247, 247);
            height: 850px;
            width: 320px;

            h5 {
                padding-top: 12px;
                padding-left: 5px;
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
                color: rgba(41, 41, 41, 0.46);

                span {
                    color: rgb(78, 157, 211);
                }
            }

            .text {
                justify-content: center;
                display: flex;
                flex-direction: column;
                padding-top: 33px;

                .im {
                    padding-top: 54px;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 250.51px;
                        height: 145.99px;
                        object-fit: contain;
                    }
                }




                .div2 {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h3 {
                        color: rgb(41, 41, 41);
                        font-family: sans-serif;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 29px;
                        letter-spacing: 0%;
                        text-align: center;
                    }


                    p {
                        /* [object Object] */
                        color: rgb(68, 61, 61);
                        font-family: sans-serif;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 17px;
                        letter-spacing: 0%;
                        text-align: center;


                        h4 {
                            color: rgb(41, 41, 41);
                            font-family: sans-serif;
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 130%;
                            letter-spacing: 0%;

                        }

                    }
                }

                .div3 {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 16px;

                    h4 {
                        /* Montserrat semi 24 */
                        color: rgb(41, 41, 41);
                        font-family: sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        letter-spacing: 0%;

                    }

                    h2 {
                        color: rgb(41, 41, 41);
                        font-family: sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 130%;
                        letter-spacing: 0%;


                        p {
                            color: rgb(240, 95, 119);
                        }
                    }
                }

            }
        }

        .vector {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            
            width: 320px;


            .pickup {
                width: 320px;
                display: flex;
                flex-direction: column;
                

                div{
                    display: flex;
                    flex-direction: column;
                    padding: 16px;
                }


                h2 {
                    /* Montserrat semi 24 */
                    color: rgb(41, 41, 41);
                    font-family: sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0%;
                    text-align: left;
                }

                p {
                    padding-top: 10px;
                    color: rgb(41, 41, 41);
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }

            img {
                width: 173.48px;
                height: 200px;
                object-fit: contain;
                position: relative;
                bottom: 22px;
            }
        }

    }
}


