.home {
    margin-top: 18px;

    .home-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;


        img {
            width: 124px;
            height: 124px;
            object-fit: contain;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 25px;
            margin-right: 50px;

            li {
                color: rgb(43, 20, 20);
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
                text-transform: uppercase;
            }
        }
    }

    .begraunt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 360px;
        left: 300px;

        .div1 {

            h3 {
                color: rgb(41, 41, 41);
                font-family: Montserrat;
                font-size: 22px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0%;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                color: rgb(41, 41, 41);
                font-family: sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: center;
            }
        }

        h2 {
            color: rgb(41, 41, 41);
            font-family: Montserrat;
            font-size: 42px;
            font-weight: 600;
            line-height: 51px;
            letter-spacing: 0%;
        }

        h4 {
            color: rgb(41, 41, 41);
            font-family: Proxima Nova;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            padding-top: 19px;

        }

        .text {
            display: flex;
            width: 499px;
            height: 44px;
            text-align: center;
        }

    }

    .card-content {
        display: flex;
        justify-content: center;
        gap: 30px;
    }


    .card {
        width: 570px;
        height: 260px;
        border-radius: 12px;
        text-align: center;
    }

    .icon {
        background-color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon img {
        width: 58.18px;
        height: 58.18px;
    }

    h2 {
        color: rgb(41, 41, 41);
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 20px;
    }

    p {
        padding-top: 10px;
        color: rgb(41, 41, 41);
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: center;
    }

    .card1 {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }


    .bs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        gap: 10px;
        z-index: 2;
        position: relative;

        button {
            box-sizing: border-box;
            border: 1px solid rgb(229, 229, 229);
            background: rgb(255, 255, 255);
            width: 12px;
            height: 12px;
            cursor: pointer;

            &:hover {
                background: rgb(231, 66, 106);
            }
        }


    }

    .sets {
        color: rgb(41, 41, 41);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: 0%;
        text-align: center;
        position: relative;
        bottom: 60px;
    }

    .container {

        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        position: relative;
        bottom: 100px;

        .container-content {
            box-sizing: border-box;
            border: 1px solid rgb(237, 237, 240);
            border-radius: 5px;
            overflow: hidden;
            background: rgb(255, 255, 255);
            width: 370px;
            height: 459px;

            img {
                width: 370px;
                height: 300px;
                object-fit: cover;
            }

            .content2 {
                padding: 21px;
                display: flex;
                flex-direction: column;
                gap: 14px;


                h3 {
                    /* Montserrat semi 24 */
                    color: rgb(41, 41, 41);
                    font-family: sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0%;

                }


                h6 {
                    color: rgb(41, 41, 41);
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0%;
                    width: 327px;
                }
            }

            .div6-3 {
                display: flex;
                flex-direction: column;

                .line-top {
                    border-top: 1px solid rgb(237, 237, 240);
                    width: 370px;
                    height: 0;
                }

                .price-img {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: space-between;
                    padding: 0 21px;
                    margin-top: -5px;



                    p {
                        /* Montserrat semi 24 */
                        color: rgb(231, 66, 106);
                        font-family: sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0%;
                        text-align: left;
                    }

                    .line-vertical {
                        width: 0;
                        height: 40px;
                        border: 1px solid rgb(237, 237, 240);
                        position: relative;
                        left: 55px;
                        top: 5px;

                    }

                    img {
                        width: 14px;
                        height: 19px;

                    }

                }
            }


        }
    }

    .b {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: center;
        width: 293px;
        height: 52px;
        box-sizing: border-box;
        /* #4E9DD3 */
        border: 1px solid rgb(78, 157, 211);
        border-radius: 3px;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        gap: 10px;
        position: relative;
        bottom: 40px;

        button {
            box-sizing: border-box;
            border: 1px solid rgb(229, 229, 229);
            background: rgb(255, 255, 255);
            width: 12px;
            height: 12px;
            cursor: pointer;

            &:hover {
                background: rgb(231, 66, 106);
            }
        }
    }


    .new {
        color: rgb(0, 0, 0);
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: center;
        box-sizing: border-box;
        /* #4E9DD3 */
        border: 1px solid rgb(78, 157, 211);
        border-radius: 3px;
        width: 189px;
        height: 52px;
    }



}